body {
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: Helvetica Neue, Helvetica, Arial;
  background-color: #F1F1F1;
  color: #555;
}

body > * {
  min-width: 320px;
  }

a {
  color: #4C9CF1;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #444;
}

img {
  width: 100%;
}

header {
  background: #fff;
  margin-bottom: 20px;
  width: 100%;
  min-width: 320px;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 4px solid #4C9CF1;
  z-index: 100;
}

  nav {
    float: right;
    padding: 20px;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    float: left;
    padding-top: 10px;
  }

  h1 {
    font-size: 2em;
    color: #2262AD;
    line-height: 1.15em;
    margin: 20px 20px 0;
  }

  p {
    line-height: 1.45em;
    margin-bottom: 20px;
  }
