#map {
  width: 90%;
  margin: 0 auto;
  padding-top: 50%;
  padding-bottom: 5%;
  margin-top: 5%;
  border: 5px solid black;
}

#map-view {
  clear:both;
  margin-top: 0;
}

#all-tabs-except-map {
  margin-bottom: 0;
  padding-bottom: 0;
}

#registered-signedin {
  width: 80%;
  text-align: center;
}

#registered-signedin li {
  float: left;
  /*clear: left;*/
  width: 100%;
  margin: 0 auto;
}

#one-day-challenge {
  width: 100%;
  margin: 0 auto;
}

#registered-signedin button {
  width: 275px;
}

#all-my-quests {
  clear:both;
  display: block;
}

#all-my-quests li {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: left;
}

#all-my-quests li button {
  display: none;
}
#all-my-quests li:last-child {
  border-bottom: 1px solid black;
}

#new-list {
  text-align: center;
}
